*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
}

header{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    padding: 8px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
input{
    margin-top: 1rem;
    font-size: 1.2rem;
}