.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

img {
    width: 50px;
}

.div-container{
    text-align: center;

}

div-container p,img{
    
    margin-top: 0;
}